@{
    ViewData["Title"] = "Delivery";
}

<section>
    <div>
        <a href="/">Главная</a> <span>/</span> <a>Доставка</a>
    </div>
    <div>
        <h2>Доставка</h2>
        <div>Теперь суши премиум-класса можно заказать не только в ресторане японской кухни, но также на дом и в офис. Ниндзя-курьер доставит заказ вовремя и не оставит голодным вашего питомца.</div>
    </div>
    <div>
        <div>
            <h3>Доставляем быстро и без стресса для клиента</h3>
            <div>
                <div>Железная дисциплина</div>
                <div>Привозим подарки питомцам</div>
                <div>Храним сон женщин и детей</div>
            </div>
        </div>
        <div>
            <h3>1. Как сделать заказ</h3>
            <div>
                <div>На сайте</div>
                <div>По телефону</div>
                <div>В мобильном приложении</div>
                <div>Chatbot</div>
            </div>
        </div>
        <div>
            <h3>2. Оплата</h3>
            <div>
                <div>Наличными курьеру</div>
                <div>Оплата картой</div>
            </div>
        </div>
        <div>
            <h3>3. Как получить заказ</h3>
            <div>
                <div>Доставка курьером</div>
                <div>Предзаказ на указанное время</div>
            </div>
        </div>
    </div>
</section>
