@{
    ViewData["Title"] = "Home";
}

<section>
    <div>
        <div>
            <div>Fresh made</div>
            <div>Мы гарантируем свежесть продуктов и не используем замороженную рыбу</div>
        </div>
        <div>
            <div>Рецепты от шеф-повара</div>
            <div>Мы предлагаем как классические суши, так и авторские рецепты от шеф-повара</div>
        </div>
        <div>
            <div>Качественные ингредиенты</div>
            <div>Мы не используем усилители вкуса. Все продукты закупаем у проверенных поставщиков</div>
        </div>
        <div>
            <div>Чистая кухня</div>
            <div>Весь процесс приготовления проходит в соответствии со всеми санитарными нормами</div>
        </div>
    </div>
</section>

<section>
    <div>
        <h2>Топ позиции</h2>
        <div>В ассортименте Sushi представлены роллы, суши, сеты и напитки на любой вкус. Мы рекомендуем обязательно попробовать топ позиции нашего меню!</div>
    </div>
    <div>
        <div>
            <div>Роллы</div>
            <div>
                <a href="/category/rolls">
                    <span>Смотреть меню</span>
                </a>
            </div>
        </div>
        <div>
            <div>
                <div>
                    <span>Калорий</span>
                    <span>237 ккал</span>
                </div>
                <div>
                    <span>Углеводы</span>
                    <span>32 г</span>
                </div>
                <div>
                    <span>Белки</span>
                    <span>10 г</span>
                </div>
                <div>
                    <span>Жиры</span>
                    <span>7 г</span>
                </div>
            </div>
            <div>
                <a>Филадельфия с лососем</a>
                <div>
                    <span>300 г -</span> Лосось, Нори, Огурец, Рис, Сыр сливочный
                </div>
                <div>
                    <div>В корзину</div>
                    <div>240 грн.</div>
                </div>
            </div>
        </div>
    </div>
</section>
