<footer class="border-top footer text-muted">
    <div class="container">
        <div>
            <span>Навигация:</span>
            <div>
                <ul class="navbar-nav flex-grow-1">
                    <li><a asp-controller="Home" asp-action="Index">@Localizer["HomeTitle"]</a></li>
                    <li><a asp-controller="Menu" asp-action="Index">@Localizer["MenuTitle"]</a></li>
                    <li><a asp-controller="Delivery" asp-action="Index">@Localizer["DeliveryTitle"]</a></li>
                    <li><a asp-controller="ForCustomers" asp-action="Index">@Localizer["ForCustomersTitle"]</a></li>
                </ul>
            </div>
        </div>
        <div>
            <span>Оформить заказ:</span>
            <div>+38 (012) 345 67 89</div>
        </div>
        <div>
            <span>Время работы:</span>
            <div>с 11:00 до 21:00</div>
        </div>
    </div>
</footer>