<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SushiStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SushiStore</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_SelectLanguagePartial" />
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Menu" asp-action="Index">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Delivery" asp-action="Index">Delivery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="ForCustomers" asp-action="Index">For customers</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    @*<aside class="ctgs-container">
        <div class="ctgs">
            <div class="ctg-link">
                <a asp-controller="Category" asp-action="Rolls"><span>Роллы</span></a>
            </div>
            <div class="ctg-link">
                <a asp-controller="Category" asp-action="Sushi"><span>Суши</span></a>
            </div>
            <div class="ctg-link">
                <a asp-controller="Category" asp-action="Sets"><span>Сеты</span></a>
            </div>
            <div class="ctg-link">
                <a asp-controller="Category" asp-action="Snacks"><span>Закуски</span></a>
            </div>
            <div class="ctg-link">
                <a asp-controller="Category" asp-action="Drinks"><span>Напитки</span></a>
            </div>
        </div>
    </aside>*@
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <partial name="_FooterPartial" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
