@{
    ViewData["Title"] = "For customers";
}

<section>
    <div>
        <a href="/">Главная</a> <span>/</span> <a>Клиентам</a>
    </div>
    <div>
        <h2>Клиентам</h2>
        <div>Наши суши – самые вкусные в городе. Мы готовим их из самых свежих продуктов и соблюдаем полную чистоту на кухне. Посмотрите, что входит в ваш ролл:</div>
    </div>

    <div>
        <h2>Кодекс Sushi</h2>
        <div>
            <div>
                <span>01</span>
                <span>Не экономить на объёме роллов</span>
            </div>
            <div>
                <span>02</span>
                <span>Не оставить голодными собаку и кота</span>
            </div>
            <div>
                <span>03</span>
                <span>Доставлять заказ точно в срок и без стресса для клиента</span>
            </div>
            <div>
                <span>04</span>
                <span>Следовать традициям японской кухни</span>
            </div>
        </div>
    </div>
</section>